body {
	background-color: black;
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color: seashell;
	opacity: 0.9;
	text-align: center;
}

.contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -69px;	

}


h4 {
	margin-top: 10px;

}

.header {
	display: flex;
	justify-content: space-between;
	height: 69px;
	width: 100%;
	position: fixed;
	border-bottom: 1px solid seashell; 
	background-color: black;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.logo {
	padding: 10px;
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

span {
	padding: 0px 10px;
	margin-right: 10px;
}

a { 
	color: seashell;
 } 

.mission-box {
	padding: 0px 40px;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;

}

.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1200px;
	height: 120px;
	background-color: black;
	position: absolute;
}

.tea-box {
	width: 1000px;
	margin-top: -40px;
}

.totm {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#teas {
	height: 200px; 
	width: 300px;
}

.locations {
	height: 550px;
	width: 1200px;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	padding-top: 30px;
}

.locations h2 {
	margin-top: 5px;
	margin-bottom: 15px;
}

.city-box {
	width: 980px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.cities {
	background-color: black;
	opacity: 1;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}	

.contact {
	height: 200px;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;

}

.contact h5 {
	margin-top: 10px;


}

.footer {
	text-align: left;
	padding-left: 20px;

}

#mission, #featured, #locations {
	padding-top: 80px;

}



